fontFace(fontName, fileName, fontWeight, fontStyle)

   @font-face
      font-family fontName
      src url("../fonts/" + fileName+ ".woff") format("woff"), url("../fonts/" + fileName+ ".woff2") format("woff2")
      font-display block
      font-weight fontWeight
      font-style fontStyle
