icon-font-name = iconFont

.icon::before
   font-family icon-font-name
   -webkit-font-smoothing antialiased
   -moz-osx-font-smoothing grayscale
   font-style normal
   font-variant normal
   font-weight normal
   text-decoration none
   text-transform none

.icon-address:before
   content '\E001'
.icon-angle-down:before
   content '\E002'
.icon-angle-left:before
   content '\E003'
.icon-angle-right:before
   content '\E004'
.icon-home:before
   content '\E005'
