html
   font-size font.size px
   line-height font.line-height

body
   font-family font.family.main
   font-weight font.weight
   color color.text
   background-color color.bg
   min-width 320px

.hidden
   display none
