block vars
include blocks

doctype html
html(lang="ru-RU")
   include head

   body
      .wrapper
         +header()
         main.content
            block content
         +footer()
         .hidden
            block popup
      script(src="js/libs.js")
      script(src="js/main.min.js")
      block script
