.btn
   display inline-flex
   align-items center
   height 40px
   padding 0 15px
   transition .3s

   &:hover
      color color.accent

   &--accent
      background-color color.accent
      color #fff

      &:hover
         color #fff
         background-color darken(color.accent, 10%)
